@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Imbue:opsz,wght@10..100,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+Rounded+1c&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #31363F;
    font-family: "Oswald", sans-serif;
}

.searchClientComponent,
.createClientComponent,
.dashboardComponent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.infoBox h1:nth-child(1){
    text-align: center;
}

.infoBox {
    background-color: rgb(19, 15, 16);
    padding: 20px 40px;
    border-radius: 20px;
} 

header {
    position: relative;
    top:0;
    text-align: center;
    background-color: #76ABAE;
    color: white;
    padding-top:1rem;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }

.tableTitle {
    font-size: 2.5rem;
}

header h1 {
    padding: 15px 0;
}

h2 {
    margin-bottom: 0;
}

#date {
    margin-bottom: 1rem;
    color: #222831;
}

span {
    color:#76ABAE;
}

#time {
    background-color: #222831;
    padding-bottom: 0;
    padding: 10px 0;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    width: 400px;
}

#sellBtn,
#reclaimBtn {
    padding: 15px 30px;
}

.dashboardItems {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.clientInfoItems {
    color: #FFFFFF;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputItems {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.inputBox {
    margin-top: 1.5rem;
}

input {
    font-size: 2rem;
    text-align: center;
}

label {
    color:#76ABAE;
    font-size: 1.5rem;
}

.item {
    display: flex;
    height: 103px;
    align-items: center;
    justify-content: center;
    border: 4px solid #76ABAE;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding: 1rem;
}

.bi-person-add,
.bi-cash-coin {
    font-size: 3.5rem;
}

.bi-award-fill,
.bi-person-fill-add,
.bi-person-circle,
.bi-search {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #222831;
}

.clientInfoComponent {
    margin-top: 20px;
}

#atenderClientBtn,
#searchClientBtn,
#createClientBtn {
    padding: 10px 20px;
    background-color: #76ABAE;
    border:3px solid #EEEEEE;
    border-radius: 20px;
    font-size: 2rem;
}

strong {
    font-size: 1.5rem;
}

.loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
}

.loadingText {
    color: white;
    font-size: 3rem;
}

.sr-only {
    font-size: 4rem;
}

.productSelection{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 45vh;
    align-items: center;
    background-color: rgb(19, 15, 16);;
}

.leyendaBox {
    border: 3px solid #76ABAE;
}

.productSelection h1 {
    width: 100%;
    background-color: #222831;
    color: #EEEEEE;
    padding:20px 0;
}

#confirmTransactionBtn {
    padding: 20px;
    font-size: 1.5rem;
}

select {
    width: 275px;
    height: 70px;
    text-align: center;
    font-size: 1.7rem;
    margin:10px 0;
    border-radius: 10px;
}


@media(min-width: 450px){
    .inputItems {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70vh;
    }
    input {
        width: 400px;
        font-size: 3rem;
    }
    label {
        font-size: 3rem;
    }
    #createClientBtn {
        padding: 10px 60px;
    }
    #regresarLink {
        font-size: 3rem;
    }
    header h1, h2 {
        font-size: 3rem;
    }
}