* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboardContainer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

i {
    font-size: 4rem;
}

.box {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    margin-left: 10px;
}